<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <style>
        /* Add your custom CSS styling here */
        .form-container {
            display: none;
        }

        .form-container.active {
            display: block;
        }
    </style>
    <section>
        <div>
            <h1>
                ₹<%= TotalPrice %>
            </h1>
            <h1>
                <%= TotalTime %>
            </h1>
            <h1>
                <%= MainArriving %>
            </h1>
            <h1>
                <%= MainLeaving %>
            </h1>
            <h1>
                <%= Date %>
            </h1>
            <h1>
                <%= Spot %>
            </h1>
            <h1>
                <%= address %>
            </h1>
            <h1>
                <%= email %>
            </h1>

            <form class="form" action="/user/Booking" method="post">
                <input name="Price" value="<%= TotalPrice %>" type="text">
                <input name="Time" value="<%= TotalTime %>" type="text">
                <input name="Arriving" value="<%= MainArriving %>" type="text">
                <input name="Leaving" value="<%= MainLeaving %>" type="text">
                <input name="date" value="<%= Date %>" type="text">
                <input name="spot" value="<%= Spot %>" type="text">
                <input name="address" value="<%= address %>" type="text">
                <input name="Username" type="text">
                <input name="Email" value="<%= email %>" type="email">
                <div>
                    <input type="radio" class="btn-check" name="Payment_Method" id="option1" value="COD" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="option1">Cash on Delivery</label>


                    <input type="radio" class="btn-check" name="Payment_Method" id="option3" value="Card" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="option3">Credit/Debit card</label>

                    <input type="radio" class="btn-check" name="Payment_Method" id="option4" value="Number" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="option4">Number</label>
                    <div>
                        <div class="form-container" id="COD">

                            <h2>COD</h2>
                            <input type="submit" value="Conform">
                        </div>

                        <div class="form-container" id="Card">
                            <!-- Form 2 content -->
                            <h2>Card</h2>
                            <!-- Add your form fields here -->

                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-center">
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span>CREDIT/DEBIT CARD PAYMENT</span>

                                                        </div>

                                                        <div class="col-md-6 text-right" style="margin-top: -5px;">

                                                            <img src="https://img.icons8.com/color/36/000000/visa.png">
                                                            <img
                                                                src="https://img.icons8.com/color/36/000000/mastercard.png">
                                                            <img src="https://img.icons8.com/color/36/000000/amex.png">

                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="card-body" style="height: 350px">
                                                    <div class="form-group">
                                                        <label for="cc-number" class="control-label">CARD NUMBER</label>
                                                        <input id="cc-number" name="card_number"
                                                             type="tel"
                                                            class="input-lg form-control cc-number"
                                                            autocomplete="cc-number"
                                                            placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;">
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="cc-exp" class="control-label">CARD
                                                                    EXPIRY</label>
                                                                <input id="cc-exp" name="card_expiry" 
                                                                    type="tel" class="input-lg form-control cc-exp"
                                                                    autocomplete="cc-exp"
                                                                    placeholder="&bull;&bull; / &bull;&bull;" >
                                                            </div>


                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="cc-cvc" class="control-label">CARD
                                                                    CVC</label>
                                                                <input id="cc-cvc" name="cvc"  type="tel"
                                                                    class="input-lg form-control cc-cvc"
                                                                    autocomplete="off"
                                                                    placeholder="&bull;&bull;&bull;&bull;" >
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="form-group">
                                                        <label for="numeric" class="control-label">CARD HOLDER
                                                            NAME</label>
                                                        <input type="text" name="card_name" 
                                                            class="input-lg form-control">
                                                    </div>

                                                    <div class="form-group">

                                                        <input value="MAKE PAYMENT" type="submit"
                                                            class="btn btn-success btn-lg form-control"
                                                            style="font-size: .8rem;">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-container" id="Number">
                            <!-- Form 2 content -->
                            <h2>Number</h2>
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-center">
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span>NUMBER</span>

                                                        </div>

                                                        <div class="col-md-6 text-right" style="margin-top: -5px;">

                                                            <img src="https://img.icons8.com/color/36/000000/visa.png">
                                                            <img
                                                                src="https://img.icons8.com/color/36/000000/mastercard.png">
                                                            <img src="https://img.icons8.com/color/36/000000/amex.png">

                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="card-body" style="height: 350px">
                                                    <div class="form-group">
                                                        <label for="cc-number" class="control-label">PHONE
                                                            NUMBER</label>
                                                        <input id="cc-number" name="upi_id" type="text"
                                                            class="input-lg form-control cc-number"
                                                            autocomplete="cc-number"
                                                            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
                                                    </div>


                                                    <!-- <div class="form-group">
                                                        <label for="numeric" class="control-label">PHONE HOLDER
                                                            NAME</label>
                                                        <input type="text" name="phone_name"
                                                            class="input-lg form-control">
                                                    </div> -->

                                                    <div class="form-group">

                                                        <input value="MAKE PAYMENT" type="button"
                                                            class="btn btn-success btn-lg form-control"
                                                            style="font-size: .8rem;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </form>





        </div>
    </section>
    <script>
        const radioButtons = document.querySelectorAll('input[type="radio"]');
        const formContainers = document.querySelectorAll('.form-container');

        radioButtons.forEach((radio) => {
            radio.addEventListener('change', () => {
                formContainers.forEach((container) => {
                    container.classList.remove('active');
                });
                const selectedForm = document.getElementById(radio.value);
                selectedForm.classList.add('active');
            });
        });
    </script>
</body>

</html>