<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See More</title>
    <link rel="stylesheet" href="\css\seemore.css">
</head>

<body>
    <section class="sec1">

        <div class="er">

            <!-- Head Section -->

            <!-- <div class="sec1-div1">
                <div class="head1">
                    <h2 class="">
                        <%=parking.address%>
                    </h2>
                </div>

            </div> -->


            <!-- Middle  Section -->

            <div class="sec1-div2">


                <div class="inner-head-div2">
                    <div>
                        <p class="sec1-div1-p">
                            ₹<%=parking.Reservation_Price%><br>
                                1 hours
                        </p>
                    </div>

                    <div>
                        <div class="button">
                            <a href="/user/booking/<%=parking._id %>" class=""><button class="btn">Reserve</button></a>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="">
                        <%=parking.address%>
                    </h2>
                </div>

                <div>
                    <h2>Features :- <p>
                            <%=parking.Features%>
                        </p>
                    </h2>
                </div>

                <div>
                    <h3>Opening Time :- <p>
                            <%=parking.Opening_Times%>-<%=parking.Closing_Times%>
                        </p>
                    </h3>
                </div>
                <div>
                    <h3>Opening Time :- <p>
                        <a href="<%=parking.link%>"><button class="btn btn2">Go to map</button></a>
                        </p>
                    </h3>
                </div>
            </div>


            <!-- End Section -->

        </div>



        </div>
    </section>
</body>

</html>